In [1]:
import mysql.connector

In [ ]:
#Host: sql7.freesqldatabase.com
#Database name: sql7719783
#Database user: sql7719783
#Database password: FbFdGiFmIY
#Port number: 3306

In [29]:
conn = mysql.connector.connect(host="sql7.freesqldatabase.com",
                              user="sql7719783",
                              password="FbFdGiFmIY",
                              database="sql7719783",
                              port=3306)
conn

In [30]:
cursor = conn.cursor()
cursor

In [4]:
cursor.execute("""
select * from Books;""")

In [5]:
cursor.fetchall()

[(1,
  'Walden, and On The Duty Of Civil Disobedience',
  'Henry David Thoreau',
  1849,
  3100471153),
 (2, 'The Scarlet Letter', 'Nathaniel Hawthorne', 1850, 4589408958),
 (3,
  'The Adventures of Sherlock Holmes',
  'Arthur Conan Doyle',
  1892,
  2411676280),
 (4, 'The Adventures of Tom Sawyer', 'Mark Twain', 1876, 7813216705),
 (5, 'David Copperfield', 'Charles Dickens', 1850, 8821265677),
 (6, 'A Modest Proposal', 'Jonathan Swift', 1729, 9675136364),
 (7, 'The Sign of the Four', 'Arthur Conan Doyle', 1890, 9615072124),
 (8,
  'The Importance of Being Earnest: A Trivial Comedy for Serious People',
  'Oscar Wilde',
  1895,
  4733732465),
 (9, "Uncle Tom's Cabin", 'Harriet Beecher Stowe', 1852, 1874764443),
 (10, 'The Count of Monte Cristo', 'Alexandre Dumas', 1884, 1799238621),
 (11, 'The Picture of Dorian Gray', 'Oscar Wilde', 1890, 2855934983),
 (12, 'Dracula', 'Bram Stoker', 1897, 8232533734),
 (13, 'Oliver Twist', 'Charles Dickens', 1839, 3071366111),
 (14,
  'The Awakening, and Selected Short Stories',
  'Kate Chopin',
  1899,
  3103139173),
 (15, 'The Time Machine', 'H. G. Wells', 1895, 9610930110),
 (16, 'Ulysses', 'James Joyce', 1922, 1472300125),
 (17, 'Les Misérables', 'Victor Hugo', 1895, 8252831254),
 (18, 'The Jungle Book', 'Rudyard Kipling', 1894, 3655763446),
 (19, 'Heart of Darkness', 'Joseph Conrad', 1899, 9334362486),
 (20, 'Treasure Island', 'Robert Louis Stevenson', 1883, 8563911061),
 (21, 'The Prince', 'Niccolò Machiavelli', 1532, 2656649474),
 (22, 'Adventures of Huckleberry Finn', 'Mark Twain', 1884, 8537695057),
 (23, 'Great Expectations', 'Charles Dickens', 1861, 5314419343),
 (24, 'Candide', 'Voltaire', 1759, 1026835475),
 (25,
  'The Life and Adventures of Robinson Crusoe',
  'Daniel Defoe',
  1791,
  7614272194),
 (26,
  'The Adventures of Sherlock Holmes',
  'Arthur Conan Doyle',
  1892,
  6117891368),
 (27, 'Wuthering Heights', 'Emily Brontë', 1847, 9622357787),
 (28, 'Heart of Darkness', 'Joseph Conrad', 1899, 2229312049),
 (29, 'A Modest Proposal', 'Jonathan Swift', 1729, 3056621645),
 (30, 'On the origin of species', 'Charles Darwin', 1859, 6010636156),
 (31,
  "Gulliver's Travels into Several Remote Nations of the World",
  'Jonathan Swift',
  1726,
  4649890037),
 (32, 'The Wonderful Wizard of Oz', 'L. Frank Baum', 1900, 9402443064),
 (33, 'Peter Pan', 'J. M. Barrie', 1911, 2793883256),
 (34, 'The Tale of Peter Rabbit', 'Beatrix Potter', 1901, 5748337449),
 (35, 'The Brothers Karamazov', 'Fyodor Dostoyevsky', 1880, 1218723292),
 (36, 'Great Expectations', 'Charles Dickens', 1861, 9050209500),
 (37, "A Doll's House", 'Henrik Ibsen', 1879, 3039350069),
 (38, 'Dubliners', 'James Joyce', 1914, 6886459965),
 (39, 'The Adventures of Tom Sawyer', 'Mark Twain', 1876, 1493041269),
 (40,
  'Three Men in a Boat (To Say Nothing of the Dog)',
  'Jerome K. Jerome',
  1889,
  4746758842),
 (41, 'The Scarlet Letter', 'Nathaniel Hawthorne', 1850, 8329029559),
 (42, 'The Prince', 'Niccolò Machiavelli', 1532, 6151512619),
 (43, 'The Yellow Wallpaper', 'Charlotte Perkins Gilman', 1892, 7476179474),
 (44, 'Pygmalion', 'Bernard Shaw', 1913, 6340638269),
 (45, 'The Secret Garden', 'Frances Hodgson Burnett', 1911, 9948565822),
 (46, 'Sense and Sensibility', 'Jane Austen', 1811, 5677520613),
 (47, 'Anne of Green Gables', 'L. M. Montgomery', 1908, 5419570516),
 (48, 'The Hound of the Baskervilles', 'Arthur Conan Doyle', 1902, 7367316687),
 (49, "Alice's Adventures in Wonderland", 'Lewis Carroll', 1865, 9617441017),
 (50, 'Jane Eyre: An Autobiography', 'Charlotte Brontë', 1847, 3641717422),
 (51, 'Dubliners', 'James Joyce', 1914, 9924891502),
 (52, 'David Copperfield', 'Charles Dickens', 1850, 6705736665),
 (53, "Uncle Tom's Cabin", 'Harriet Beecher Stowe', 1852, 7816127580),
 (54, 'The Yellow Wallpaper', 'Charlotte Perkins Gilman', 1892, 2503974912),
 (55, 'An Occurrence at Owl Creek Bridge', 'Ambrose Bierce', 1890, 6432246701),
 (56, 'The Picture of Dorian Gray', 'Oscar Wilde', 1890, 5057915174),
 (57, 'The Brothers Karamazov', 'Fyodor Dostoyevsky', 1880, 1591595018),
 (58,
  "Grimms' Fairy Tales",
  'Jacob Grimm and Wilhelm Grimm',
  1858,
  9481016995),
 (59, 'The War of the Worlds', 'H. G. Wells', 1898, 7360406327),
 (60, 'Dracula', 'Bram Stoker', 1897, 4274716715),
 (61, 'The Call of the Wild', 'Jack London', 1905, 5092202901),
 (62, 'Oliver Twist', 'Charles Dickens', 1839, 9103557294),
 (63, 'Treasure Island', 'Robert Louis Stevenson', 1883, 9985114885),
 (64, 'A Study in Scarlet', 'Arthur Conan Doyle', 1887, 6146781316),
 (65, 'The Scarlet Letter', 'Nathaniel Hawthorne', 1850, 7064200431),
 (66, 'The Count of Monte Cristo', 'Alexandre Dumas', 1884, 3303490694),
 (67, 'Les Misérables', 'Victor Hugo', 1895, 6502926567),
 (68, 'The Count of Monte Cristo', 'Alexandre Dumas', 1884, 1750433521),
 (69, 'Siddhartha', 'Hermann Hesse', 1922, 4524773001),
 (70,
  'Also sprach Zarathustra',
  'Friedrich Wilhelm Nietzsche',
  1896,
  8233453745),
 (71, 'A Tale of Two Cities', 'Charles Dickens', 1859, 4966189808),
 (72, 'The Yellow Wallpaper', 'Charlotte Perkins Gilman', 1892, 8015869193),
 (73, 'Dracula', 'Bram Stoker', 1897, 8730298424),
 (74,
  'The Strange Case of Dr. Jekyll and Mr. Hyde',
  'Robert Louis Stevenson',
  1886,
  5456105629),
 (75, 'Moby Dick; Or, The Whale', 'Herman Melville', 1851, 3254901352),
 (76, 'Jane Eyre: An Autobiography', 'Charlotte Brontë', 1847, 7490708197),
 (77, 'The Prophet', 'Kahlil Gibran', 1923, 5516789160),
 (78, 'The Prophet', 'Kahlil Gibran', 1923, 9731317241),
 (79, 'A Study in Scarlet', 'Arthur Conan Doyle', 1887, 4735557481),
 (80, 'Jane Eyre: An Autobiography', 'Charlotte Brontë', 1847, 5181168830),
 (81,
  "Grimms' Fairy Tales",
  'Jacob Grimm and Wilhelm Grimm',
  1858,
  2956935227),
 (82, 'Sense and Sensibility', 'Jane Austen', 1811, 3382858636),
 (83, 'Emma', 'Jane Austen', 1815, 3338413705),
 (84,
  'Tractatus Logico-Philosophicus',
  'Ludwig Wittgenstein',
  1921,
  7953286250),
 (85, 'Pygmalion', 'Bernard Shaw', 1913, 3028132298),
 (86, 'Siddhartha', 'Hermann Hesse', 1922, 9816358488),
 (87,
  'Frankenstein; Or, The Modern Prometheus',
  'Mary Wollstonecraft Shelley',
  1818,
  5100740849),
 (88, 'Ulysses', 'James Joyce', 1922, 9050461909),
 (89,
  'Walden, and On The Duty Of Civil Disobedience',
  'Henry David Thoreau',
  1849,
  1250001073),
 (90, 'The Jungle', 'Upton Sinclair', 1906, 9012348841),
 (91,
  'The Importance of Being Earnest: A Trivial Comedy for Serious People',
  'Oscar Wilde',
  1895,
  9067533454),
 (92, "Alice's Adventures in Wonderland", 'Lewis Carroll', 1865, 8015835428),
 (93, 'Great Expectations', 'Charles Dickens', 1861, 4043822646),
 (94,
  'Walden, and On The Duty Of Civil Disobedience',
  'Henry David Thoreau',
  1849,
  8026944492),
 (95,
  'Also sprach Zarathustra',
  'Friedrich Wilhelm Nietzsche',
  1896,
  7133340991),
 (96, 'A Study in Scarlet', 'Arthur Conan Doyle', 1887, 3312061309),
 (97,
  'The Life and Adventures of Robinson Crusoe',
  'Daniel Defoe',
  1791,
  8830076797),
 (98, 'An Occurrence at Owl Creek Bridge', 'Ambrose Bierce', 1890, 6854696214),
 (99, 'Little Women', 'Louisa May Alcott', 1869, 3945560004),
 (100, 'The Jungle Book', 'Rudyard Kipling', 1894, 9443427576),
 (101, 'Anna Karenina', 'graf Leo Tolstoy', 1878, 8754465846),
 (102, 'Hard Times', 'Charles Dickens', 1854, 6674338548),
 (103, 'Moby Dick; Or, The Whale', 'Herman Melville', 1851, 6616753388),
 (104, 'On the origin of species', 'Charles Darwin', 1859, 9362177222),
 (105, 'The Turn of the Screw', 'Henry James', 1898, 6435968624),
 (106, 'Wuthering Heights', 'Emily Brontë', 1847, 4592191348),
 (107, 'Little Women', 'Louisa May Alcott', 1869, 1965826731),
 (108, "Pascal's Pensées", 'Blaise Pascal', 1670, 5350687892),
 (109, 'Emma', 'Jane Austen', 1815, 6733484219),
 (110,
  'The Strange Case of Dr. Jekyll and Mr. Hyde',
  'Robert Louis Stevenson',
  1886,
  6219262708),
 (111,
  'The Decameron of Giovanni Boccaccio',
  'Giovanni Boccaccio',
  1375,
  2485650954),
 (112, 'The War of the Worlds', 'H. G. Wells', 1898, 7919408621),
 (113, 'On the origin of species', 'Charles Darwin', 1859, 3102441408),
 (114, 'The Wonderful Wizard of Oz', 'L. Frank Baum', 1900, 9562452329),
 (115, 'Hard Times', 'Charles Dickens', 1854, 3242500932),
 (116, 'The Brothers Karamazov', 'Fyodor Dostoyevsky', 1880, 3310765031),
 (117, 'The Time Machine', 'H. G. Wells', 1895, 7267049081),
 (118, 'Adventures of Huckleberry Finn', 'Mark Twain', 1884, 5259319712),
 (119, 'The Tale of Peter Rabbit', 'Beatrix Potter', 1901, 2755886014),
 (120, 'Dubliners', 'James Joyce', 1914, 3639380140),
 (121, 'The Mysterious Affair at Styles', 'Agatha Christie', 1920, 9303804404),
 (122, 'Metamorphosis', 'Franz Kafka', 1915, 7205341627),
 (123, 'The Mysterious Affair at Styles', 'Agatha Christie', 1920, 7280027397),
 (124,
  'The Adventures of Sherlock Holmes',
  'Arthur Conan Doyle',
  1892,
  7776442868),
 (125, 'Candide', 'Voltaire', 1759, 6478624379),
 (126,
  'The Awakening, and Selected Short Stories',
  'Kate Chopin',
  1899,
  9895378062),
 (127, 'David Copperfield', 'Charles Dickens', 1850, 8525488511),
 (128, 'The Picture of Dorian Gray', 'Oscar Wilde', 1890, 3664785630),
 (129,
  'Also sprach Zarathustra',
  'Friedrich Wilhelm Nietzsche',
  1896,
  8880867275),
 (130, 'Peter Pan', 'J. M. Barrie', 1911, 5135424406),
 (131, 'War and Peace', 'graf Leo Tolstoy', 1869, 9585335549),
 (132, 'War and Peace', 'graf Leo Tolstoy', 1869, 5605187849),
 (133, 'Treasure Island', 'Robert Louis Stevenson', 1883, 2952281573),
 (134, 'The Sign of the Four', 'Arthur Conan Doyle', 1890, 9535295098),
 (135, 'A Tale of Two Cities', 'Charles Dickens', 1859, 8996747227),
 (136, 'The Wonderful Wizard of Oz', 'L. Frank Baum', 1900, 1471501105),
 (137, "Alice's Adventures in Wonderland", 'Lewis Carroll', 1865, 3946912387),
 (138, 'The Sign of the Four', 'Arthur Conan Doyle', 1890, 6652171593),
 (139, 'Peter Pan', 'J. M. Barrie', 1911, 2588073202),
 (140,
  "Gulliver's Travels into Several Remote Nations of the World",
  'Jonathan Swift',
  1726,
  8923446356),
 (141,
  'Three Men in a Boat (To Say Nothing of the Dog)',
  'Jerome K. Jerome',
  1889,
  6572731534),
 (142,
  'The Decameron of Giovanni Boccaccio',
  'Giovanni Boccaccio',
  1375,
  3609260747),
 (143,
  "Gulliver's Travels into Several Remote Nations of the World",
  'Jonathan Swift',
  1726,
  5394770992),
 (144, 'Pride and Prejudice', 'Jane Austen', 1813, 9131059093),
 (145, 'Oliver Twist', 'Charles Dickens', 1839, 6444030057),
 (146, 'Metamorphosis', 'Franz Kafka', 1915, 6978078350),
 (147, 'The Adventures of Tom Sawyer', 'Mark Twain', 1876, 4750599556),
 (148, 'War and Peace', 'graf Leo Tolstoy', 1869, 9348938616),
 (149,
  'The Importance of Being Earnest: A Trivial Comedy for Serious People',
  'Oscar Wilde',
  1895,
  2054382275),
 (150, 'The Secret Garden', 'Frances Hodgson Burnett', 1911, 2438574546),
 (151, 'Second Treatise of Government', 'John Locke', 1689, 6979338785),
 (152, 'Anne of Green Gables', 'L. M. Montgomery', 1908, 4550745199),
 (153,
  'Frankenstein; Or, The Modern Prometheus',
  'Mary Wollstonecraft Shelley',
  1818,
  8839302214),
 (154,
  'An Occurrence at Owl Creek Bridge',
  'Ambrose Bierce',
  1890,
  8301235528),
 (155, 'The Prophet', 'Kahlil Gibran', 1923, 9013040583),
 (156,
  'The Life and Adventures of Robinson Crusoe',
  'Daniel Defoe',
  1791,
  3650881744),
 (157, 'Les Misérables', 'Victor Hugo', 1895, 9108696047),
 (158, 'Moby Dick; Or, The Whale', 'Herman Melville', 1851, 8158837759),
 (159,
  'Three Men in a Boat (To Say Nothing of the Dog)',
  'Jerome K. Jerome',
  1889,
  3293874630),
 (160, 'The War of the Worlds', 'H. G. Wells', 1898, 4474735051),
 (161, 'The Prince', 'Niccolò Machiavelli', 1532, 9323491902),
 (162, 'Pride and Prejudice', 'Jane Austen', 1813, 8156410777),
 (163, 'The Mysterious Affair at Styles', 'Agatha Christie', 1920, 3833130645),
 (164,
  'The Hound of the Baskervilles',
  'Arthur Conan Doyle',
  1902,
  7500891493),
 (165, 'The Turn of the Screw', 'Henry James', 1898, 2119519594),
 (166,
  'The Strange Case of Dr. Jekyll and Mr. Hyde',
  'Robert Louis Stevenson',
  1886,
  1388191607),
 (167, 'Anne of Green Gables', 'L. M. Montgomery', 1908, 6951820908),
 (168, "Pascal's Pensées", 'Blaise Pascal', 1670, 1688834109),
 (169, 'Second Treatise of Government', 'John Locke', 1689, 5647388501),
 (170, 'A Tale of Two Cities', 'Charles Dickens', 1859, 1396589796),
 (171, 'The Call of the Wild', 'Jack London', 1905, 7523202583),
 (172, "Uncle Tom's Cabin", 'Harriet Beecher Stowe', 1852, 1944291114),
 (173, 'Wuthering Heights', 'Emily Brontë', 1847, 2847748801),
 (174, 'A Modest Proposal', 'Jonathan Swift', 1729, 7708090276),
 (175, 'The Time Machine', 'H. G. Wells', 1895, 1291355714),
 (176, 'The Jungle', 'Upton Sinclair', 1906, 2932680848),
 (177, 'The Call of the Wild', 'Jack London', 1905, 3119888447),
 (178, 'The Secret Garden', 'Frances Hodgson Burnett', 1911, 8157982611),
 (179, 'Anna Karenina', 'graf Leo Tolstoy', 1878, 3570685469),
 (180,
  'Frankenstein; Or, The Modern Prometheus',
  'Mary Wollstonecraft Shelley',
  1818,
  5880488254),
 (181, 'Sense and Sensibility', 'Jane Austen', 1811, 7712942206),
 (182,
  "Grimms' Fairy Tales",
  'Jacob Grimm and Wilhelm Grimm',
  1858,
  7433732302),
 (183, 'Little Women', 'Louisa May Alcott', 1869, 3806008380),
 (184, 'Ulysses', 'James Joyce', 1922, 7973290433),
 (185, 'Don Quixote', 'Miguel de Cervantes Saavedra', 1605, 3037774000),
 (186, 'Pride and Prejudice', 'Jane Austen', 1813, 9229256777),
 (187, 'Don Quixote', 'Miguel de Cervantes Saavedra', 1605, 3750235511),
 (188,
  'Tractatus Logico-Philosophicus',
  'Ludwig Wittgenstein',
  1921,
  3733674722),
 (189, 'The Jungle Book', 'Rudyard Kipling', 1894, 2183505735),
 (190, 'Adventures of Huckleberry Finn', 'Mark Twain', 1884, 3766010638),
 (191, 'Emma', 'Jane Austen', 1815, 5913123586),
 (192, 'The Turn of the Screw', 'Henry James', 1898, 9586004168),
 (193, 'Candide', 'Voltaire', 1759, 9718482110),
 (194, 'The Tale of Peter Rabbit', 'Beatrix Potter', 1901, 5705857485),
 (195, 'Metamorphosis', 'Franz Kafka', 1915, 8949930384),
 (196,
  'The Awakening, and Selected Short Stories',
  'Kate Chopin',
  1899,
  5859811018),
 (197, 'Hard Times', 'Charles Dickens', 1854, 6616502217),
 (198, "A Doll's House", 'Henrik Ibsen', 1879, 6227932647),
 (199, 'Anna Karenina', 'graf Leo Tolstoy', 1878, 6318181860),
 (200, "A Doll's House", 'Henrik Ibsen', 1879, 2719805876)]

In [7]:
#find the number of availalbe copies of the book (Dracula) 
cursor.execute("""
select count(distinct b.bookid) as number_of_availalbe_copies from Books as b inner join Loans as l on l.bookid = b.bookid where b.title = "Dracula" and l.returneddate is not null;""")

In [8]:
cursor.fetchall()

[(3,)]

In [9]:
#/* check total copies of the book */
cursor.execute("""
select title,count(*) as total_copies from Books 
group by title
order by title;""")

In [10]:
cursor.fetchall()

[("A Doll's House", 3),
 ('A Modest Proposal', 3),
 ('A Study in Scarlet', 3),
 ('A Tale of Two Cities', 3),
 ('Adventures of Huckleberry Finn', 3),
 ("Alice's Adventures in Wonderland", 3),
 ('Also sprach Zarathustra', 3),
 ('An Occurrence at Owl Creek Bridge', 3),
 ('Anna Karenina', 3),
 ('Anne of Green Gables', 3),
 ('Candide', 3),
 ('David Copperfield', 3),
 ('Don Quixote', 2),
 ('Dracula', 3),
 ('Dubliners', 3),
 ('Emma', 3),
 ('Frankenstein; Or, The Modern Prometheus', 3),
 ('Great Expectations', 3),
 ("Grimms' Fairy Tales", 3),
 ("Gulliver's Travels into Several Remote Nations of the World", 3),
 ('Hard Times', 3),
 ('Heart of Darkness', 2),
 ('Jane Eyre: An Autobiography', 3),
 ('Les Misérables', 3),
 ('Little Women', 3),
 ('Metamorphosis', 3),
 ('Moby Dick; Or, The Whale', 3),
 ('Oliver Twist', 3),
 ('On the origin of species', 3),
 ("Pascal's Pensées", 2),
 ('Peter Pan', 3),
 ('Pride and Prejudice', 3),
 ('Pygmalion', 2),
 ('Second Treatise of Government', 2),
 ('Sense and Sensibility', 3),
 ('Siddhartha', 2),
 ('The Adventures of Sherlock Holmes', 3),
 ('The Adventures of Tom Sawyer', 3),
 ('The Awakening, and Selected Short Stories', 3),
 ('The Brothers Karamazov', 3),
 ('The Call of the Wild', 3),
 ('The Count of Monte Cristo', 3),
 ('The Decameron of Giovanni Boccaccio', 2),
 ('The Hound of the Baskervilles', 2),
 ('The Importance of Being Earnest: A Trivial Comedy for Serious People', 3),
 ('The Jungle', 2),
 ('The Jungle Book', 3),
 ('The Life and Adventures of Robinson Crusoe', 3),
 ('The Mysterious Affair at Styles', 3),
 ('The Picture of Dorian Gray', 3),
 ('The Prince', 3),
 ('The Prophet', 3),
 ('The Scarlet Letter', 3),
 ('The Secret Garden', 3),
 ('The Sign of the Four', 3),
 ('The Strange Case of Dr. Jekyll and Mr. Hyde', 3),
 ('The Tale of Peter Rabbit', 3),
 ('The Time Machine', 3),
 ('The Turn of the Screw', 3),
 ('The War of the Worlds', 3),
 ('The Wonderful Wizard of Oz', 3),
 ('The Yellow Wallpaper', 3),
 ('Three Men in a Boat (To Say Nothing of the Dog)', 3),
 ('Tractatus Logico-Philosophicus', 2),
 ('Treasure Island', 3),
 ('Ulysses', 3),
 ("Uncle Tom's Cabin", 3),
 ('Walden, and On The Duty Of Civil Disobedience', 3),
 ('War and Peace', 3),
 ('Wuthering Heights', 3)]

In [11]:
#/* current total loans of the book */
cursor.execute("""
select b.title,count(l.loanid) as total_loans from Loans as l inner join Books as b on l.bookid = b.bookid 
group by b.title
order by title;""")

In [12]:
cursor.fetchall()

[("A Doll's House", 28),
 ('A Modest Proposal', 20),
 ('A Study in Scarlet', 31),
 ('A Tale of Two Cities', 37),
 ('Adventures of Huckleberry Finn', 23),
 ("Alice's Adventures in Wonderland", 38),
 ('Also sprach Zarathustra', 29),
 ('An Occurrence at Owl Creek Bridge', 33),
 ('Anna Karenina', 24),
 ('Anne of Green Gables', 24),
 ('Candide', 21),
 ('David Copperfield', 25),
 ('Don Quixote', 22),
 ('Dracula', 32),
 ('Dubliners', 26),
 ('Emma', 35),
 ('Frankenstein; Or, The Modern Prometheus', 53),
 ('Great Expectations', 29),
 ("Grimms' Fairy Tales", 33),
 ("Gulliver's Travels into Several Remote Nations of the World", 31),
 ('Hard Times', 25),
 ('Heart of Darkness', 19),
 ('Jane Eyre: An Autobiography', 37),
 ('Les Misérables', 25),
 ('Little Women', 30),
 ('Metamorphosis', 29),
 ('Moby Dick; Or, The Whale', 19),
 ('Oliver Twist', 21),
 ('On the origin of species', 31),
 ("Pascal's Pensées", 18),
 ('Peter Pan', 30),
 ('Pride and Prejudice', 28),
 ('Pygmalion', 21),
 ('Second Treatise of Government', 17),
 ('Sense and Sensibility', 34),
 ('Siddhartha', 20),
 ('The Adventures of Sherlock Holmes', 26),
 ('The Adventures of Tom Sawyer', 36),
 ('The Awakening, and Selected Short Stories', 43),
 ('The Brothers Karamazov', 22),
 ('The Call of the Wild', 28),
 ('The Count of Monte Cristo', 23),
 ('The Decameron of Giovanni Boccaccio', 20),
 ('The Hound of the Baskervilles', 16),
 ('The Importance of Being Earnest: A Trivial Comedy for Serious People', 32),
 ('The Jungle', 18),
 ('The Jungle Book', 28),
 ('The Life and Adventures of Robinson Crusoe', 30),
 ('The Mysterious Affair at Styles', 36),
 ('The Picture of Dorian Gray', 39),
 ('The Prince', 30),
 ('The Prophet', 29),
 ('The Scarlet Letter', 42),
 ('The Secret Garden', 29),
 ('The Sign of the Four', 25),
 ('The Strange Case of Dr. Jekyll and Mr. Hyde', 32),
 ('The Tale of Peter Rabbit', 33),
 ('The Time Machine', 27),
 ('The Turn of the Screw', 37),
 ('The War of the Worlds', 43),
 ('The Wonderful Wizard of Oz', 26),
 ('The Yellow Wallpaper', 31),
 ('Three Men in a Boat (To Say Nothing of the Dog)', 29),
 ('Tractatus Logico-Philosophicus', 16),
 ('Treasure Island', 28),
 ('Ulysses', 26),
 ("Uncle Tom's Cabin", 26),
 ('Walden, and On The Duty Of Civil Disobedience', 31),
 ('War and Peace', 31),
 ('Wuthering Heights', 34)]

In [13]:
#/* total available books of dracula */
cursor.execute("""
select count(distinct b.bookid) as number_of_availalbe_copies from Books as b inner join Loans as l on l.bookid = b.bookid where b.title = "Dracula" and l.returneddate is not null;""")

In [14]:
cursor.fetchall()

[(3,)]

In [16]:
#/* Add new books to the library 
cursor.execute("""
insert into Books (bookid,title,author,published,barcode) values (201,"book201","author201",2024,201201201),
(202,"book202","author202",2024,202202202),(203,"book203","author203",2024,203203203);""")

In [23]:
#/* Check out Books: books(4043822646, 2855934983) whose patron_email(jvaan@wisdompets.com), loandate=2020-08-25, duedate=2020-09-08, loanid=by_your_choice                            */
cursor.execute("""
select * from Books as b inner join Loans as l on b.bookid = l.bookid inner join Patrons as p on l.patronid = p.patronid
where 
 b.Barcode in (4043822646,2855934983)
  and p.email ="jvaan@wisdompets.com"
  and l.LoanDate='2016-06-07'
 and l.DueDate='2016-06-21'
 ;""")

In [24]:
cursor.fetchall()

[]

In [ ]:
#/* Check books for Due back                             */
#/* generate a report of books due back on July 13, 2020 */
#/* with patron contact information  
cursor.execute("""
select * from Loans as l inner join Patrons as p on l.patronid = p.patronid
 where l.returneddate='2020-07-13';""")

In [ ]:
cursor.fetchall()

In [26]:
#/* Return books to the library (which have barcode=6435968624) and return this book at this date(2020-07-05)  
cursor.execute("""
update Loans set returneddate='2020-07-05' where returneddate is null and  bookid=(select bookid from Books where  Barcode=6435968624);""")

In [35]:
# /* Encourage Patrons to check out books                */
#/* generate a report of showing 10 patrons who have
#checked out the fewest books. 
cursor.execute("""
select p.patronid,p.firstname,p.lastname,p.email, count(l.loanid) as no_of_loans from Loans as l
 inner join Patrons as p on l.patronid = p.patronid
 group by p.patronid,p.firstname,p.lastname,p.email
 order by no_of_loans
 limit 10;""")

In [36]:
cursor.fetchall()

[(83, 'Caril', 'Matejic', 'cmatejic2a@orangevalleycaa.org', 9),
 (69, 'Alaster', 'Ruggles', 'aruggles1w@red30design.com', 9),
 (73, 'Merle', 'Sukbhans', 'msukbhans20@orangevalleycaa.org', 11),
 (94, 'Curr', 'Fittall', 'cfittall2l@orangevalleycaa.org', 12),
 (64, 'Norby', 'Sleight', 'nsleight1r@kinetecoinc.com', 12),
 (50, 'Jack', 'Vaan', 'jvaan@wisdompets.com', 13),
 (7, 'Cammi', 'Kynett', 'ckynett6@orangevalleycaa.org', 14),
 (16, 'Carla', 'Swinfen', 'cswinfenf@kinetecoinc.com', 14),
 (3, 'Aleen', 'Fasey', 'afasey2@kinetecoinc.com', 14),
 (12, 'Orton', 'Stavers', 'ostaversb@orangevalleycaa.org', 14)]

In [37]:
#/* Find books to feature for an event                  
# create a list of books from 1890s that are
# currently available 
cursor.execute("""
select  b.Title, b.Author, b.Published from Books as b inner join Loans as l on b.BookID=l.BookID
 where b.published >= 1890 and l.ReturnedDate is not  null
 group by b.title,b.Author,b.published
 order by b.title
;""")

In [38]:
cursor.fetchall()

[('Also sprach Zarathustra', 'Friedrich Wilhelm Nietzsche', 1896),
 ('An Occurrence at Owl Creek Bridge', 'Ambrose Bierce', 1890),
 ('Anne of Green Gables', 'L. M. Montgomery', 1908),
 ('Dracula', 'Bram Stoker', 1897),
 ('Dubliners', 'James Joyce', 1914),
 ('Heart of Darkness', 'Joseph Conrad', 1899),
 ('Les Misérables', 'Victor Hugo', 1895),
 ('Metamorphosis', 'Franz Kafka', 1915),
 ('Peter Pan', 'J. M. Barrie', 1911),
 ('Pygmalion', 'Bernard Shaw', 1913),
 ('Siddhartha', 'Hermann Hesse', 1922),
 ('The Adventures of Sherlock Holmes', 'Arthur Conan Doyle', 1892),
 ('The Awakening, and Selected Short Stories', 'Kate Chopin', 1899),
 ('The Call of the Wild', 'Jack London', 1905),
 ('The Hound of the Baskervilles', 'Arthur Conan Doyle', 1902),
 ('The Importance of Being Earnest: A Trivial Comedy for Serious People',
  'Oscar Wilde',
  1895),
 ('The Jungle', 'Upton Sinclair', 1906),
 ('The Jungle Book', 'Rudyard Kipling', 1894),
 ('The Mysterious Affair at Styles', 'Agatha Christie', 1920),
 ('The Picture of Dorian Gray', 'Oscar Wilde', 1890),
 ('The Prophet', 'Kahlil Gibran', 1923),
 ('The Secret Garden', 'Frances Hodgson Burnett', 1911),
 ('The Sign of the Four', 'Arthur Conan Doyle', 1890),
 ('The Tale of Peter Rabbit', 'Beatrix Potter', 1901),
 ('The Time Machine', 'H. G. Wells', 1895),
 ('The Turn of the Screw', 'Henry James', 1898),
 ('The War of the Worlds', 'H. G. Wells', 1898),
 ('The Wonderful Wizard of Oz', 'L. Frank Baum', 1900),
 ('The Yellow Wallpaper', 'Charlotte Perkins Gilman', 1892),
 ('Tractatus Logico-Philosophicus', 'Ludwig Wittgenstein', 1921),
 ('Ulysses', 'James Joyce', 1922)]

In [39]:
#/* Book Statistics 
#/* create a report to show how many books were 
#published each year. 
cursor.execute("""
SELECT Published, COUNT(DISTINCT(Title)) AS TotalNumberOfPublishedBooks
FROM Books
GROUP BY Published
ORDER BY TotalNumberOfPublishedBooks DESC
;""")

In [40]:
cursor.fetchall()

[(1890, 3),
 (1895, 3),
 (1899, 2),
 (1847, 2),
 (1884, 2),
 (1850, 2),
 (1911, 2),
 (1892, 2),
 (1859, 2),
 (1922, 2),
 (1869, 2),
 (1898, 2),
 (1811, 1),
 (1876, 1),
 (1813, 1),
 (1878, 1),
 (1900, 1),
 (1815, 1),
 (1879, 1),
 (1901, 1),
 (1818, 1),
 (1880, 1),
 (1902, 1),
 (1839, 1),
 (1883, 1),
 (1905, 1),
 (1906, 1),
 (1849, 1),
 (1886, 1),
 (1908, 1),
 (1375, 1),
 (1887, 1),
 (1532, 1),
 (1851, 1),
 (1889, 1),
 (1913, 1),
 (1605, 1),
 (1852, 1),
 (1914, 1),
 (1670, 1),
 (1854, 1),
 (1915, 1),
 (1689, 1),
 (1858, 1),
 (1894, 1),
 (1920, 1),
 (1726, 1),
 (1921, 1),
 (1729, 1),
 (1861, 1),
 (1896, 1),
 (1759, 1),
 (1865, 1),
 (1897, 1),
 (1923, 1),
 (1791, 1)]

In [41]:
#/* Book Statistics                                           */
#/* create a report to show 5 most popular Books to check out */
cursor.execute("""
SELECT b.Title, b.Author, b.Published, COUNT(l.loanid) AS TotalTimesOfLoans
FROM Books as b
inner join Loans as l
ON b.BookID = l.BookID
GROUP BY b.Title, b.Author, b.Published
ORDER BY TotalTimesOfLoans DESC
LIMIT 5
;""")

In [42]:
cursor.fetchall()

[('Frankenstein; Or, The Modern Prometheus',
  'Mary Wollstonecraft Shelley',
  1818,
  53),
 ('The Awakening, and Selected Short Stories', 'Kate Chopin', 1899, 43),
 ('The War of the Worlds', 'H. G. Wells', 1898, 43),
 ('The Scarlet Letter', 'Nathaniel Hawthorne', 1850, 42),
 ('The Picture of Dorian Gray', 'Oscar Wilde', 1890, 39)]